<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:name="Waze" 
	android:versionCode="1018532" package="com.waze" android:versionName="1.5.2.3">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />	
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application android:icon="@drawable/icon" android:label="@string/app_name" 
				 android:debuggable="false">
		<activity android:name=".FreeMapAppActivity" android:label="@string/app_name"
			android:launchMode="singleTask" android:configChanges="orientation|keyboardHidden" android:screenOrientation="user">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".FreeMapCameraActivity"
			android:screenOrientation="landscape" android:launchMode="singleTask">
		</activity>

		<service android:name="com.waze.FreeMapAppService" />

	</application>	
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"></uses-sdk>

</manifest> 
